.model_details.item .header {
  min-height:70px;
  & h2 {
    padding-top:7px;
  }
}

.model_listing.item {
  min-height:70px;
  & .model_name {
    padding-top:7px;
  }
  & .description {
    float:right;
    display:block;
    text-align: right;
    p {
      margin:7px 0px 0px 0px;
    }
  }
}