%tr.exp[base_exp]{:class=>cycle("odd", "even")}
  %td.base_level= base_exp.base_level
  %td.base_exp_next= base_exp.base_exp_next
  %td.npc_base_exp= base_exp.npc_base_exp
  %td.pro_exp_next= base_exp.pro_exp_next