%div[random_set]
  = link_to(random_set.hidden_item, random_set.hidden_item)
  = surround "(", ")" do
    = pluralize random_set.package, "piece"
  - if random_set.setbox_type.zero?
    = surround "(", ")" do
      random